html{
    font-family: Roboto, sans-serif;
    scroll-behavior: smooth;
    background-color: rgba(255, 255, 255, 0);
}
body{
    background-image: url("assets/img/background.jpg");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
}
#picture{
    height: 300px;
    width: 250px;
    float: left;
    margin-right: 40px;
    border-radius: 25px;
    background-image: url("assets/img/img.png");
    background-position: 100% 100%;
    background-size: 250px 300px;
    background-repeat: no-repeat;
}
h1{
    background-color: rgba(255, 235, 239, 0.35);
    color: #ffffff;
    width: 250px;
    margin: auto;
    border-radius: 10px;
}
.border-bottom{
    border-bottom: 1px solid #000000;
}
.border-right{
    border-right: 1px solid #000000;
}
.block{
    background-color: rgba(255, 255, 255, 0.22);
    width: 800px;
    padding: 20px;
    margin: auto;
    clear: both;
    border-radius: 25px;
}
.languages, .languages li, .languages ul{
    list-style: none;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 0;
}
.languages-circles ul, .languages-circles li{
    margin-top: 10px;
}
.languages-circles li{
    display: flex;
    margin-top: 13px;
    height: 100%;
    margin-bottom: 17px;
}
.skills{
    padding: 0;
    display: flex;
}
body>div>header>div>ul>li>a, .black-font{
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    margin-right: 7px;
}
body>div>header>div>ul>li>a:hover{
    border-radius: 3px;
    border: 3px;
    background-color: rgba(255, 255, 255, 0.37);
    color: #ffffff;
}
li{
    list-style: none;
}
.horizontal-ul{
    display: flex ;
    box-sizing: border-box;
    justify-content: space-between;
    flex-direction: row;
    padding: 0;
}
ul.horizontal{
    margin: 0;
    padding: 5px;
}
ul.horizontal li{
    display: inline;
    margin-right: 30px;
}
.left-block{
    margin-right: 20px;
    width:33%;
    float:left;
    overflow:auto;
}
.right-block{
    width:64%;
    overflow:auto;
}
.line{
    border-left: thick  #000000;
}
.codeBorder{
    border: 1px solid #000000;
    padding: 10px;
    background-color: rgba(255, 252, 255, 0);
}

.logo {
    max-height: 100px;
    max-width:250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.center{
    text-align: center;
}